/*====================
  Reset & Global Styles
  ====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.6;
  color: #333;
}

h1 {
  font-size: 3.5em;
  font-weight: 700;
  color: #411e03;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-top: 20px;
}

h2 {
  font-size: 3em;
  color: #5d4037;
  margin-top: 30px;
  margin-bottom: 15px;
  border-bottom: 2px solid #5d4037;
  padding-bottom: 10px;
}

h3 {
  font-size: 2.5em;
  color: #846851;
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  font-size: 2em;
  color: #8a895f;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-size: 1.5em;
  color: #333333;
  line-height: 1.6;
}

a {
  font-size: 1.2em;
  color: #411e03;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

a:hover {
  color: #8a895f;
  text-decoration: underline;
}

/*====================
    Navbar - Flexbox
  ====================*/
nav {
  display: flex; /*การแสดงผลแบบ flex*/
  justify-content: space-between; /*อยู่ชิดด้านข้างทั้งสองฝั่ง*/
  align-items: center; /*อยู่ระหว่างบรรทัด*/
  background-color: rgb(255, 243, 216); /*สีพื้นหลัง*/
  padding: 15px 20px; /*ขนาด padding*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /*เส้นขอบ*/
  position: sticky; /*อยู่ที่เดิมเวาลาเลื่อน*/
  top: 0;
  z-index: 100;
}

.logo {
  display: flex; /*แสดงผลแบบ flex*/
  color: black; /*สีข้อความ*/
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
  gap: 20px;
}

.logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
