/*====================
  Reset & Global Styles
  ====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
}

/*====================
    Navbar - Flexbox
  ====================*/
nav {
  display: flex; /*การแสดงผลแบบ flex*/
  justify-content: space-between; /*อยู่ชิดด้านข้างทั้งสองฝั่ง*/
  align-items: center; /*อยู่ระหว่างบรรทัด*/
  background-color: rgb(255, 243, 216); /*สีพื้นหลัง*/
  padding: 15px 20px; /*ขนาด padding*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /*เส้นขอบ*/
  position: sticky; /*อยู่ที่เดิมเวาลาเลื่อน*/
  top: 0;
  z-index: 100;
}

.logo {
  display: flex; /*แสดงผลแบบ flex*/
  color: black; /*สีข้อความ*/
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
  gap: 20px;
}

.logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
